<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="/socket.io/socket.io.js" defer></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./home/style.css">
  <script src="./home/script.js" defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <title>Document</title>
</head>
<body>

  
  <!-- Modal Edit Details-->
  <div class="modal fade" id="edit_details_form_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id = "edit_details_form" action="/edit_details" method="POST" >
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name"  placeholder="First Name" name = "first_name">
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" id="last_name"  placeholder="Last Name" name = "last_name">
            </div>
             <div class="form-group">
              <label for="password1">Password</label>
              <input type="password" class="form-control" id="password1" placeholder="Password" name = "password1">
            </div> 
            <div class="form-group">
              <label for="password2">Password</label>
              <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name = "password2">
            </div> 
          </form>
          <h6  style = "color:red" id = "edit_details_form_error">

            
          </h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="submitEditDetailsForm()">Save changes</button>
        </div>
      </div>
    </div>
  </div>



      <!-- Modal Edit Details-->
  <div class="modal fade" id="add_friend_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Friend</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type = "text" id = "friend_email_input" Placeholder = "Enter friends email Id"> 
          <h6  style = "color:red" id = "edit_details_form_error">

            
          </h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="addFriend()">Add Friend</button>
        </div>
      </div>
    </div>
  </div>








  <div class = "main_container_left" >
    <div class = "profile_img">
        <img src = "./assets/userImage.jpg" >

    </div>
    <div class = "details">
      <div class = "show_details">
        <p class = "real_name"> <%= first_name + " "  + last_name %> </p>
        <p class = "user_name"> <%= email %> </p>
      </div>

      <div class = "options_left">
          <!-- Button trigger modal -->
          <button type="button"  data-toggle="modal" data-target="#edit_details_form_modal">
            Edit details
          </button>
          <button type="button"  data-toggle="modal" data-target="#add_friend_modal">
            Add Friend
          </button>
          <form action="/video-chat" method="POST">
            <button type="submit">New meeting</button>
          </form>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
          </form>
          
      </div>
      
    </div>
    

  </div>

  <div class = "main_container_right" >
    <div class = "friends_list_container">
      <div class = "friend_row_header">
        <p> Friends</p>
      </div>
      <div class = "friend_list">
        <div class = "friend_row">
          <div class = "friend_name">
            <p>
              Tanvee 
            </p>
          </div>
          <div class = "call_friend">
            <button type = "button" > Call </button>
          </div>
        </div>
        <div class = "friend_row">
          <div class = "friend_name">
            <p>
              Shivam 
            </p>
          </div>
          <div class = "call_friend">
            <button type = "button" > Call </button>
          </div>
        </div>
        <div class = "friend_row">
          <div class = "friend_name">
            <p>
              Yukti 
            </p>
          </div>
          <div class = "call_friend">
            <button type = "button" > Call </button>
          </div>
        </div>
        <div class = "friend_row">
          <div class = "friend_name">
            <p>
              Abhimanyu 
            </p>
          </div>
          <div class = "call_friend">
            <button type = "button" > Call </button>
          </div>
        </div>
        <div class = "friend_row">
          <div class = "friend_name">
            <p>
              Anand 
            </p>
          </div>
          <div class = "call_friend">
            <button type = "button" > Call </button>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>






  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 


</body>
</html>
