<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call Room</title>
    <script>
      const ROOM_ID = "<%= roomId %>";
      const USER_NAME = "<%= userName %>";
   </script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="/socket.io/socket.io.js" defer></script>
   <link rel="stylesheet" href="room-style.css">
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   <script src="room-script.js" defer></script>
    
</head>
<body>
    
   <header>
      <div class="search-bar">
          <input class = "inner-search-bar" type = "text" name = "" placeholder="Search">
          <a class = "search-button" href = "#">
              <i class = "fas fa-search"></i>  
          </a>
      </div>
      <div class="right-half-header">
          <a class = "header-setting" href = "#">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </a>
          
          <a class = "profile" href = "#">
              <i class="fa fa-user" aria-hidden="true"></i>
          </a>
      </div>
  </header>

  <div class="main-container">
      <!-- Side Bar -->
      <div class = "side-bar-container">
          <div class="inner-side-bar">
          <ul class = "side-bar-items">
              <li>
                  <button class = "side-bar-button">
                  <i class="fa fa-bell-o" aria-hidden="true"></i>
                  </button> 
              </li>
              <li>
                  <button class = "side-bar-button">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  </button> 
              </li>
              <li>
                  <button class = "side-bar-button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button> 
              </li>
              <li role = "presentation" class = "spacer"></li>
              <li>
                  <button class = "side-bar-button">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </button> 
              </li>
              <li>
                  <button class = "side-bar-button">
                  <i class="fa fa-download" aria-hidden="true"></i>
                  </button> 
              </li>
          </ul>
          </div>
      </div>

            <!-- Video screen region -->
      <div class="video-container">
        <div id="video-grid">

        </div>
        
        <div class="main__controls">
           <div class="main__controls__button main__video_button" onClick = "playStop()">
              <i class="fas fa-video-slash"></i>
           </div>
           <div class="main__controls__button main__mute_button" onClick="muteUnmute()">
              <i class="fas fa-microphone"></i>
           </div>
           <div class="main__controls__button">
              <i class="fas fa-microphone"></i>
           </div>
           <div class="main__controls__button">
              <i class="fas fa-ellipsis-h"></i>
           </div>
           <div class="main__controls__button">
              <i class="fas fa-hand-spock"></i>
           </div>
           <div class="main__controls__button" onClick="toggleChat()">
              <i class="fas fa-comment-dots"></i>
           </div>
           <div class="main__controls__button">
              <i class="fas fa-users"></i>
           </div>
           <div class="main__controls__button" onClick="leaveCall()">
              <a href="/home">
                <i class="fas fa-phone-slash"></i>
              </a>
           </div>
        </div>

      </div>
      
       <!-- Chat Box Window -->
       <div class = "chatbox" style = "display: none;">
            <div class="chatbox-header">
                <h2>Meeting Chat</h2>
                <hr>
            </div>
            <div class="chatbox-text">
                <ul id="messages" style = "height:100px">
               
                </ul>
            </div>
            <div class="chatbox-input">
                <input id = "chatbox-input-text" type="text" onkeypress="sendMessage(event)" placeholder="Type a new message">
            </div>

        </div>


   </div>

   



</body>

</html>