<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call Room</title>
    <script>
      const ROOM_ID = "<%= roomId %>";
      const USER_NAME = "<%= userName %>";
      let AUDIO_BOOL = "<%= audio_bool %>";
      let VIDEO_BOOL = "<%= video_bool %>";
   </script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="/socket.io/socket.io.js" defer></script>
   <link rel="stylesheet" href="/room/style.css">
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   <script src="/room/script.js" defer></script>
   <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>

    


   <header>
      <div class="search-bar">
          <input class = "inner-search-bar" type = "text" name = "" placeholder="Search">
          <a class = "search-button" href = "#">
              <i class = "fas fa-search"></i>  
          </a>
      </div>
      <div class="right-half-header">
          <a class = "header-setting" href = "#">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </a>
          
          <a class = "profile" href = "#">
              <i class="fa fa-user" aria-hidden="true"></i>
          </a>
      </div>
  </header>

  <div class="main-container">
              <!-- Video screen region -->



      <div class="video-container">

        <div class = "notifications" style = "float: right;">
            <div class="alert alert-success" id="success-alert" style = "position:absolute; top : 4px; right: 4px">
                    Hi, How are you!
            </div>
        </div>

        <div id="video-grid">

        </div>
        
        <div class="main__controls">
           <div class="main__controls__button main__video_button" onClick = "playStop()">
              <i class="fas fa-video"></i>
           </div>
           <div class="main__controls__button main__mute_button" onClick="muteUnmute()">
              <i class="fas fa-microphone"></i>
           </div>
           <div class="main__controls__button">
              <i class="fas fa-hand-spock" onClick = "raiseHand()"></i>
           </div>
           <div class="main__controls__button" onClick="toggleChat()">
              <i class="fas fa-comment-dots"></i>
           </div>
           <div class="main__controls__button" onClick="toggleParticipants()">
              <i class="fas fa-users"></i>
           </div>
           <div class="main__controls__button" onClick="leaveCall()">
              <a href="/">
                <i class="fas fa-phone-slash"></i>
              </a>
           </div>
        </div>

      </div>
      
       
      

    <div class = "right_side_bar" style = "display:none;">
        <!-- Chat Box Window -->
        <div class = "chatbox" style = "display: none;">
            <div class="chatbox-header">
                <h2>Meeting Chat</h2>
                <hr>
            </div>
            <div class="chatbox-text">
                <ul id="messages" style = "height:100px">
            
                </ul>
            </div>
            <div class="chatbox-input">
                <input id = "chatbox-input-text" type="text" onkeypress="sendMessage(event)" placeholder="Type a new message">
            </div>
        </div>
        <!-- Participants Window -->
        <div class = "participant" style = "display: none;">
            <div class="participant-header">
                <h2>Participants</h2>
                <hr>
            </div>
            <div class="participant-text">
                <ul id="participant-text" style = "height:100px;width: 100%;">
                    
                </ul>
            </div>
        </div>
    </div>
   </div>

</body>
</html>